<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style>
        html {
            font-size: 100%;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%
        }

        body {
            margin: 0;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 18px;
            color: #0E1724;
            background-color: #fff
        }

        a {
            color: #0087E0;
            text-decoration: none;
            border: 0
        }

        a:hover {
            color: #139FF0;
            text-decoration: underline
        }

        p {
            padding: 0 !important;
            margin: 0 !important;
            color: #0E1724
        }

        img {
            border: none
        }
    </style>
</head>

<body>

    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
        <tr>
            <td align="center" valign="top">
                <table border="0" cellpadding="10" cellspacing="0" width="600" id="emailContainer">
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="10" cellspacing="0" width="100%" id="emailHeader">
                                <tr>
                                    <td align="center" valign="top">
                                        <%- include('partials/header.ejs') -%>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="10" cellspacing="0" width="100%" id="emailBody">
                                <tr>
                                    <td colspan="3" height="10"></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p
                                            style="color: #404040; font-size: 16px; line-height: 20px; padding: 0; margin: 0;">
                                            Hey, <%= user.displayName %>. We take the safety
                                            of our users seriously.
                                            We just need you to verify your email address by
                                            clicking the button below:
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" height="10"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table bgcolor="darkcyan" align="left" cellpadding="0" cellspacing="0"
                                            style="font-family:Arial, sans-serif; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; height: 50px;">
                                            <tr>
                                                <td align="center"
                                                    style="padding: 10px 20px; margin: 0; font-family:Arial,Helvetica,sans-serif;font-size:16px; line-height: 1em;">
                                                    <a href="<%= emailVerificationLink %>"
                                                        style="font-size:14px;font-weight:bold;color:white;text-decoration:none;padding:10px 0">
                                                        Verify your email address
                                                    </a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" height="50"></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p
                                            style="color: #404040; font-size: 16px; line-height: 20px; padding: 0; margin: 0;">
                                            The button didn't work? Copy and paste this link
                                            to your address bar:
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" height="10"></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <p
                                            style="color: #404040; font-size: 14px; line-height: 20px; padding: 0; margin: 0;">
                                            <%= emailVerificationLink %>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" height="40"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p
                                            style="color: #404040; font-size: 16px; line-height: 20px; padding: 0; margin: 0;">
                                            If you have any issues confirming your email, we
                                            will be happy to help you. You can contact us on
                                            <a href="mailto:support@gast-cinema.addis-dev.com"
                                                style="color: #0070bf; font-weight: bold;">support@gast-cinema.addis-dev.com</a>.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" height="40"
                                        style="padding: 0; margin: 0; font-size: 1; line-height: 0;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="10" cellspacing="0" width="100%" id="emailFooter">
                                <tr>
                                    <td align="center" valign="top">
                                        <%- include('partials/footer.ejs') -%>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>